* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  /* utilities */

.container {
    max-width: 1800px;
    margin: 0 auto;
  }

.float-left {
    float: left;
  }
  
.float-right {
    float: right;
}

.w-10 {
   width: 10%;
}
.w-20 {
  width: 20%;
}
  .w-30 {
  width: 30%;
}
  
.w-40 {
    width: 40%;
}
  
.w-50 {
    width: 50%;
}

.w-60 {
 width: 60%;
}

.w-65{
    width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75{
    width: 75%;
}

.w-80{
    width: 80%;
}

.w-90 {
  width: 90%;
}

.p-10{
    padding-left: 10px;
}

/* content */

header {
    background-color: white;
}

.top-header {
    width: 100vw;
    height: 100px;
    line-height: 100px;
}

.top-header img {
    vertical-align: middle;
    padding: 10px 30px;
    height: 100%;
}

.top-header nav{
    display: inline-block;
    vertical-align: middle;

}

.top-header li{
    display:inline-block;
    vertical-align: middle;
    padding: 0px 10px;
}

.top-header a{
    margin: 0px 30px;
    text-decoration: none;
}

.top-header li a:hover {
    text-decoration: underline;
}

.btn{
    background-color: rgba(0,97,255,255);
    display: inline-block;
    height: 30px;
    width: 65px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.btn-large{
    background-color: rgba(0,97,255,255);
    color: white;
    width: 200px;
    text-align: center;
    line-height: 30px;
    margin: 25px 10px;

}


.bg-lightblue{
    background-color: rgba(180,208,231,255);

}

.bottom-header{
    width: 80%;
    margin: 0 auto;
}

.bottom-header h1{
    display: inline-block;
    width: 1000px;
    height: 50px;
    line-height: 70px;
    font-size: 65px;
    padding-top: 50px;
}

.bottom-header p{
    display: inline-block;
    font-size: 15px;
    width: 300px;
    padding-top: 50px;
}

.bottom-header a{
    display: block;
    margin-top: 30px;
    width: 200px;
    font-size: 14px;
    text-decoration: none;
}


.bottom-header a:hover{
    text-decoration: underline;
}

.bottom-header img{
    margin: 30px 0px;
}

#annulla{
    margin: 0px;
    padding: 10px 0px;
}

.arrow{
    display: flex;
    font-size: 35px;
    padding-top: 20px;
}

.piano h2{
    font-size: 30px;
    padding-top: 80px;
}

.piano .fatturazione{
padding-top: 30px;
}

.col{
    display: inline-block;
    width: 32%;
    border: 2px solid red;
    margin-right: 10px;
    margin-top: 20px;
}

.pacchetto{
    font-size: 25px;
    line-height: 25px;
    font-weight: 550;
    padding-bottom: 15px;
    
}

.prezzo{
    font-size: 15px;
    line-height: 15px;
    font-weight: 550;
    padding-bottom: 10px;
}

.mese{
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 20px;

}

.norm{
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 10px;
}

.white{
    color: white;
    text-decoration: none;

}

.line{
    width: 80px;
    border-bottom: grey 1px solid;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* debug */

.debug .col{
    height: 500px;
}