* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  body{
      font-family: sans-serif;
  }

  /* utilities */

.container {
    max-width: 1800px;
    margin: 0 auto;
  }

.float-left {
    float: left;
  }
  
.float-right {
    float: right;
}

.w-10 {
   width: 10%;
}
.w-20 {
  width: 20%;
}
  .w-30 {
  width: 30%;
}
  
.w-40 {
    width: 40%;
}
  
.w-50 {
    width: 50%;
}

.w-60 {
 width: 60%;
}

.w-65{
    width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75{
    width: 75%;
}

.w-80{
    width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100{
    width: 100%;
}

.p-15{
    padding-left: 15px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mt-20{
    margin-top: 20px;
}

.mg-20{
    margin-right: 20px;
}

.auto{
    margin: auto;
}

.box-center{
    margin: 0px 30px;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}
/* content */

header {
    background-color: white;
}

.top-header {
    width: 100vw;
    height: 100px;
    line-height: 100px;
}

.top-header img {
    vertical-align: middle;
    padding: 10px 30px;
    height: 100%;
}

.top-header nav{
    display: inline-block;
    vertical-align: middle;

}

.top-header li{
    display:inline-block;
    vertical-align: middle;
    padding: 0px 10px;
}

.top-header a{
    margin: 0px 30px;
    text-decoration: none;
}

.top-header li a:hover {
    text-decoration: underline;
}

.btn{
    background-color: rgba(0,97,255,255);
    display: inline-block;
    height: 30px;
    width: 65px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.btn-large{
    background-color: rgba(0,97,255,255);
    color: white;
    width: 200px;
    text-align: center;
    line-height: 30px;
    margin: 25px 30px 10px 15px;

}


.bg-lightblue{
    background-color: rgba(180,208,231,255);

}

.bottom-header{
    width: 80%;
    margin: 0 auto;
}

.bottom-header h1{
    display: inline-block;
    height: 50px;
    line-height: 80px;
    font-size: 75px;
    padding-top: 50px;
}

.bottom-header p{
    display: inline-block;
    font-size: 15px;
    width: 300px;
    padding-top: 50px;
}

.bottom-header a{
    display: block;
    margin-top: 30px;
    width: 200px;
    font-size: 14px;
    text-decoration: none;
}


.bottom-header a:hover{
    text-decoration: underline;
}

.bottom-header img{
    margin: 30px 0px;
}

#annulla{
    margin: 0px;
    padding: 10px 0px;
}

.arrow{
    display: flex;
    font-size: 35px;
    padding-top: 20px;
}

.piano{
    margin-top: 100px;
}

.piano h2{
    font-size: 30px;
    padding-top: 80px;
}

.piano .fatturazione{
padding-top: 30px;
}

.col{
    display: inline-block;
    width: 32%;
    border: 2px solid lightgrey;
    margin-right: 10px;
    margin-top: 20px;
}

.col .top{
    border-bottom: 2px solid lightgrey;
    text-align: center;
    padding-top: 10px;
}

.pacchetto{
    font-size: 25px;
    line-height: 25px;
    font-weight: 550;
    padding-bottom: 15px;
    
}

.prezzo{
    font-size: 15px;
    line-height: 15px;
    font-weight: 550;
    padding-bottom: 10px;
}

.mese{
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 20px;

}

.norm{
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 10px;
    list-style-type: none;
}

.white{
    color: white;
    text-decoration: none;

}

.line{
    display: inline-block;
    width: 45px;
    height: 40px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
    margin-left: 10px;
}

.salienti{
    font-size: 15px;
    font-weight: 550;
    height: 15px;
    display: block;
    margin-bottom: 25px;
}

.full{
    width: 99%;
    border: 1px solid lightgrey ;
    margin-top: 40px;
}

.full .team{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.bottom-box h4{
    font-size: 20px;
    padding: 25px 0px 5px 15px;
}

.bottom-box h5{
    font-size: 15px;
    padding: 5px 15px;
}

.bottom-box p{
    padding: 10px 0px 30px 15px
}

.partner{
    margin-top: 30px;
}

.partner h4{
    font-size: 25px;
    line-height: 35px;
    margin-top: 80px;
    padding-left: 80px;
}

.partner img{
    width: 100%;
    margin-top: 80px;
}

.partner p{
    margin-left: 80px;
    width: 430px;
    margin-top: 25px;
    font-size: 15px;
    line-height: 30px;
}

.chiaro{
    display: inline-block;
    margin-left: 80px;
    border: 1px solid lightgrey;
    margin-top: 30px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.row{
    margin-top: 100px;
}

.row h2{
    margin-bottom: 30px;
    font-size: 35px;
}

.row h3{
    padding: 15px 0px;
}

.operazioni{
    width: 31%;
    display: inline-block;
}

.row img{
    width: 100%;
    
}

.row .text{
    height: 200px;
}

.row p{
    width: 95%;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
}

.row .clienti{
    line-height: 50px;
    font-size: 36px;
}

.maxi{
    border: 2px solid red;
}

.first{
    border: 1px solid blue;
    display: inline-block;
}

.first11{
    display: inline-block;
    width: 49%;
}

.mezzo{
    width: 40%;
    display: inline-block;
}

.piccola{
    width: 30%;
    display: inline-block;
}

.first img{
    width: 80%;
    height: 100%;
}

.img1{
    background-color: rgba(162,211,155,255);
}

.img2{
    background-color: rgba(97,8,43,255);
}

.img3{
    background-color: rgba(0,147,206,255);
}

.img4{
    background-color: rgba(255,28,28,255);
}

.img5{
    background-color: rgba(213,0,31,255);
}

.img6{
    background-color: rgba(180,208,231,255);

}

.img7{
    background-color: rgba(13,36,129,255);
}

.img8{
    background-color: rgba(255,216,48,255);
}

/* debug */

.debug .container{
  /*  height: 550px; */
}

.debug .col{
   /* height: 600px;*/
}

.debug .full{
  /*  height: 300px;*/
}

.debug .partner{
 /*   height: 300px; */
}

.debug .operazioni{
  /*  height: 400px; 
    border: 2px solid red; */
}

.debug .maxi{
    height: 300px;
}

.debug .first{
    height: 100%; 
}

.debug .first1{
   height: 50%; 
   border: 1px solid green;
}

.debug .first11{
    height: 100%; 
    border: 1px solid yellow;
}

.debug .mezzo{
    height: 100%;
}

.debug .piccola{
    height: 100%;
}